parametersSchema:
	banned_code: structure([
		nodes: listOf(structure([
			type: string()
			active: boolean()
		]))
		functions: listOf(structure([
            name: string()
            active: boolean()
        ]))
	])

parameters:
	banned_code:
		nodes:
			-
				type: Stmt_Echo
				active: true
			-
				type: Expr_Eval
				active: true
			-
				type: Expr_Exit
				active: true
			-
				type: Expr_Print
				active: true
			-
				type: Expr_ShellExec
				active: true

		functions:
		    -
		        name: dd
		        active: true
		    -
		        name: debug_backtrace
		        active: true
		    -
		        name: dump
		        active: true
		    -
		        name: exec
		        active: true
		    -
		        name: passthru
		        active: true
		    -
		        name: phpinfo
		        active: true
		    -
		        name: print_r
		        active: true
		    -
		        name: proc_open
		        active: true
		    -
		        name: shell_exec
		        active: true
		    -
		        name: system
		        active: true
		    -
		        name: var_dump
		        active: true

services:
	-
		class: Jesperbeisner\PHPStanBannedCode\Rules\BannedNodesRule
		tags:
			- phpstan.rules.rule
		arguments:
			- '%banned_code.nodes%'

	-
		class: Jesperbeisner\PHPStanBannedCode\Rules\BannedFunctionsRule
		tags:
			- phpstan.rules.rule
		arguments:
			- '%banned_code.functions%'
